.tasa-div-form
  .section-header 
   | {{'prestatario.perfil.formulario.titulo' | i18n }}
  .section-body      
    form [ngFormModel]='identificacionForm' (submit)='saveUser()'
      .col-lg-6.container-fluid
        .tasa-input
          label for='nombres' {{'prestatario.perfil.formulario.nombre' | i18n }}
          br
          input ngControl='nombres' id='nombres' placeholder= "{{'prestatario.perfil.formulario.nombrePH' | i18n}}" [(ngModel)]='presPerfilModel.nombres'
          control-messages control='nombres'
        .tasa-input
          label for='apaterno' {{'prestatario.perfil.formulario.ape_Pat' | i18n }}
          br
          input ngControl='apaterno' id='apaterno' placeholder= "{{'prestatario.perfil.formulario.ape_PatPH' | i18n}}" [(ngModel)]='presPerfilModel.apaterno'
          control-messages control='apaterno'
        .tasa-input
          label for='amaterno' {{'prestatario.perfil.formulario.ape_Mat' | i18n }}
          br
          input ngControl='amaterno' id='amaterno' placeholder= "{{'prestatario.perfil.formulario.ape_MatPH' | i18n}}" [(ngModel)]='presPerfilModel.amaterno'
          control-messages control='amaterno'
        .tasa-input
          label for='username'{{'prestatario.perfil.formulario.user' | i18n }}
          tasa-tooltip [text]= "'Elige el nombre con el que\naparecerás en La Tasa'" [position]= "'top'"
          br
          input ngControl='username' id='username' (blur)='validateUser()' placeholder= "{{'prestatario.perfil.formulario.userPH' | i18n}}" [(ngModel)]='presPerfilModel.username'
          control-messages control='username'
      .col-lg-6.container-fluid
        .tasa-input
          label for='correo' {{'prestatario.perfil.formulario.email' | i18n }}
          br
          input ngControl='correo' id='correo' (blur)='validateEmail()' placeholder= "{{'prestatario.perfil.formulario.emailPH' | i18n}}" [(ngModel)]='presPerfilModel.correo'
          control-messages control='correo'
        
        div ngControlGroup='passwords'
          .tasa-input
            label for='password' {{'prestatario.perfil.formulario.password' | i18n }}
            br
            input type='password' ngControl='passwords.password' id='password' placeholder= "{{'prestatario.perfil.formulario.passwordPH' | i18n}}"
            control-messages control='passwords.password'
          .tasa-input
            label for='repeatPass' {{'prestatario.perfil.formulario.confirm_pass' | i18n }}
            br 
            input type='password' ngControl='passwords.repeatPass' id='repeatPass'  placeholder= "{{'prestatario.perfil.formulario.confirm_passPH' | i18n}}" [(ngModel)]='presPerfilModel.password'
            control-messages control='passwords.repeatPass'
        .checkbox
          br.hidden-lg-up
          input type="checkbox" ngControl='terminos' id='terminos' name="terminos"
          label for="terminos"
          a (click) = 'showModal()'{{'prestatario.perfil.formulario.terminos' | i18n }}
      div.button-centrar
        button.btn-next.waves-effect.waves-button.waves-float.waves-light.col-lg-3 type='submit' [disabled]='!identificacionForm.valid'
          div
            span.button-text-icon{{'prestatario.perfil.next' | i18n }}
            i.fa.fa-angle-right


<div [hidden]= "!closeLoading">
  tasa-loading [closeLoadingBoolean]="closeLoading"
</div>
        
          