<div class="inputDiv">
	input.range id="{{idComponent}}" type="range" step="{{step}}" value="{{value}}" name="{{nameComponent}}" min="{{min}}" max="{{max}}"
	output  id="{{idElement}}"
		|{{textoAMostar}}
</div>
<div id="box{{idComponent}}" class="box">
</div>   