commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_run_gulp_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash     
      cd /var/app/current/front
      npm install gulp
      npm install gulp-slim
      npm install gulp-replace-name
      npm install gulp-clean
      npm install gulp-angular-embed-templates
      npm install  run-sequence
      gulp