# These are things that make sense for any Ruby application

# Install git in order to be able to bundle gems from git
packages:
 yum:
  git: []
  patch: []
# Here you can add commands
commands:
 01_command:
  command: npm cache clean -f
 02_command:
  command: npm install -g n
 03_comand:
  command: n stable
 04_command:
  command: rm -rf /etc/localtime
 05_command:
  command: ln -sf /usr/share/zoneinfo/America/Mexico_City /etc/localtime
 06_command:
  command: npm install --global gulp-cli
 07_command:
  command: npm install --save-dev gulp
 08_command:
  command: gem install slim -v '>= 3.0.2'
 09_command:
  command: gem update slim
 10_command:
  command: npm install gulp-slim
 11_command:
  command: npm install gulp-replace-name
 12_command:
  command: npm install gulp-clean
 13_command:
  command: npm install gulp-angular-embed-templates
 14_command:
  command: npm install  run-sequence
 
